<%- include('./partials/head'); -%>
<%- include('./partials/nav'); -%>
<div class="bottom row">
    <%- include('./partials/search'); -%>
    <%- include('./partials/aside'); -%>
</div>
<%- include('./partials/footer'); -%>